vendor/
node_modules/
.run/
.github/
.editorconfig
.gitattributes
.gitignore
.phpstorm.meta.php
.styleci.yml
_ide_helper.php
_ide_helper_models.php
docker-compose.yml
docker-compose.dev.yml
Dockerfile
Dockerfile.dev
makefile
phpstan.neon
public/hot/
public/storage/
public/js/
public/css/
storage/*.key
.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
