@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.glass {
    background-color: rgba(255, 255, 255, .09);
    backdrop-filter: blur(15px);
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}
